body {
    background-color: lightblue;
}

p {
    background-color: lightblue;
    color: red;
}

li {
    background-color: lightblue;
    color: red;
}

.price {
    background-color: lightblue;
    color: red;
}