<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <title>Yelp Solution</title>
</head>
<body style="margin: 0 0; background-color: honeydew">

<div style="width: 100%; background-color: darkseagreen; padding-bottom: 80px; margin: 0 0">
    <h1 style="float: left; padding-left:20px; font-family: 'Karla'; font-size:40px; font-weight:bold">Yelp Solution</h1>
    <p style="float: right; padding: 30px 20px; font-family: 'Karla';">finding attractions for the easily overwhelmed</p>
</div>
