<!--
<a href="/indexOption/restaurants">
    <div style="width: 50%; height: 50%; background-color: green; float:left;">
        <p style="color:white; text-align:center">
            Restaurants
        </p>
    </div>
</a>
<a href="/indexOption/restaurants">
    <div style="width: 50%; height: 50%; background-color: red; float:right;">
        <p style="color:white; text-align:center">
            Restaurants
        </p>
    </div>
</a>
-->

<div>
    <p><a href="/indexOption/restaurants">Restaurants</a></p>
</div>
<div>
    <p><a href="/indexOption/shopping">Shopping</a></p>
</div>
<div>
    <p><a href="/indexOption/night">Nightlife</a></p>
</div>
<div>
    <p><a href="/indexOption/active">Active Life</a></p>
</div>
<div>
    <p><a href="/indexOption/beauty">Beauty and Spas</a></p>
</div>
<div>
    <p><a href="/indexOption/auto">Automotive</a></p>
</div>
<div>
    <p><a href="/indexOption/home">Home Services</a></p>
</div>
<div>
    <p>Other:</p>
    <form method='GET' action="/indexOption">
        <div>
            <div>
                <span>Enter custom search term</span>
            </div>
            <div>
                <input type="text" id="term" name="term" value=""/>
            </div>
        </div>
        <div>
            <input type="submit" value="search" />
        </div>
    </form>
</div>
