
<div class="centerText">
        <span class="indexOption1">
            <a href="/indexOption/restaurants" class="indexLink">Restaurants</a>
        </span>
        <span class="indexOption1">
            <a href="/indexOption/shopping" class="indexLink">Shopping</a>
        </span>
        <span class="indexOption1">
            <a href="/indexOption/night" class="indexLink">Nightlife</a>
        </span>
</div>

<div class="centerText" style="margin-top: 40px">
    <span class="indexOption2">
        <a href="/indexOption/active" class="indexLink">Active Life</a>
    </span>
    <span class="indexOption2">
        <a href="/indexOption/beauty" class="indexLink">Beauty and Spas</a>
    </span>
    <span class="indexOption2">
        <a href="/indexOption/auto" class="indexLink">Automotive</a>
    </span>
    <span class="indexOption2">
        <a href="/indexOption/home" class="indexLink">Home Services</a>
    </span>
</div>

<div class="centerText" style="margin-top:60px; font-family:'Karla'">
    <form method='GET' action="/indexOption">
        <div>
            <div>
                <span>or enter a custom search term</span>
            </div>
            <div>
                <input autocomplete="off" style="width:50%; height:20px" type="text" id="term" name="term" value=""/>
            </div>
        </div>
        <div>
            <input type="submit" value="search" class="priceButton"/>
        </div>
    </form>
</div>
