    <span class="indexOption1">
        <a href="/result/reservations?term=<%= term %>&location=<%= location %>" class="indexLink">Takes Reservations</a>
    </span>
    <span class="indexOption1">
        <a href="/result/waitlist?term=<%= term %>&location=<%= location %>" class="indexLink">Online Waitlist</a>
    </span>
