
    <div>
        <p><a href="/result/reservations?term=<%= term %>&location=<%= location %>">Takes Reservations</a></p>
    </div>
    <div>
        <p><a href="/result/waitlist?term=<%= term %>&location=<%= location %>">Online Waitlist</a></p>
    </div>